header{
    background: #f4f4f4;
    padding: 5px;
    text-align: center;
    margin-bottom: 40px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#p1{
    margin-bottom: 20px;
}
#ans{
    text-align: center;
}
.container{
    margin: auto;
    width: 400px;
    padding: 1rem 2rem;
    background: #f4f4f4;
}
input[type='button']{
    width: 100%;
    padding: 10px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    margin-top: 10px;
}
input[type='button']:hover {
    background: #444;
}
input[type='text']{
    width: 80px;
    padding: 8px 0;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 75px;
    text-align: center;
}