header{
    background: #f4f4f4;
    padding: 5px;
    text-align: center;
    margin-bottom: 40px;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#p1{
    margin-bottom: 20px;
}
#ans{
    text-align: center;
}

input[type='button']{
    width: 100px;
    padding: 10px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}
input[type='button']:hover {
    text-align: center;
    background: #444;
}
